/* Reset */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: pink;
}


ul li {
    border: 1px solid black;
    list-style: none;
    text-align: center;
    padding: 20px 0px;
    font-size: 32px;
}